node_modules
npm-debug.log
.vscode
*.pem
keys
__tests__
*.excalidraw
sample-env.txt
nginx
.vscode
.husky
.github
.history
./sql-scripts
coverage
test
.lintstaged
.prettierrc
Makefile
jest.config.js
jsconfig.js
*.sql
nodemon.js
sample-env.txt
.husky
.github
.git