<!-- Footer -->
<footer class="footer pl-30 pr-30">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>Copyright &copy; 2022 Kenecare. All rights reserved.</p>
            </div>
            <div class="col-sm-6 text-right">

            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->