<div class="wrapper pa-0">
  <!-- Main Content -->
  <div class="page-wrapper pa-0 ma-0 auth-page">
    <div class="container">
      <!-- Row -->
      <div class="table-struct full-width full-height">
        <div class="table-cell vertical-align-middle auth-form-wrap">
          <div class="auth-form ml-auto mr-auto no-float card-view pt-30 pb-30">
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <div class="mb-50 text-center">
                  <img src="/admin/assets/img/logo.png" />
                </div>
                <%- include('./common/errors.ejs') %>
                <div class="form-wrap">
                  <form action="/reset_link" method="post">
                    <div class="form-group">
                      <label
                        class="control-label mb-10"
                        for="exampleInputEmail_2"
                        >Email Address</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="email"
                        id="email"
                        placeholder="Enter your email"
                        value="<% if(typeof email !== 'undefined'){ %><%= email %><% } %>"
                      />
                      <% if(typeof err !== 'undefined'){ %>
                      <div id="error_message" class="text-danger">
                        <%= err.errors.email %>
                      </div>
                      <% } %>
                    </div>
                    <div class="form-group text-center">
                      <button type="submit" class="btn btn-orange btn-rounded">
                        Send Mail
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Row -->
    </div>
  </div>
  <!-- /Main Content -->
</div>
