<div class="wrapper pa-0">
  <!-- Main Content -->
  <div class="page-wrapper pa-0 ma-0 auth-page">
    <div class="container">
      <!-- Row -->
      <div class="table-struct full-width full-height">
        <div class="table-cell vertical-align-middle auth-form-wrap">
          <div class="auth-form ml-auto mr-auto no-float card-view pt-30 pb-30">
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <div class="mb-50 text-center">
                  <img src="/admin/assets/img/logo.png" />
                </div>
                
                <div class="form-wrap">
                  <form action="/dashboard" method="get">
                    <div class="form-group">
                      <label
                        class="control-label mb-10"
                        for="exampleInputEmail_2"
                        >Email Address</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="email"
                        id="email"
                        placeholder="Enter your email"
                      />
                      <% if(typeof err !== 'undefined'){ %>
                      <div id="error_message" class="text-danger">
                        <%= err.errors.email %>
                      </div>
                      <% } %>
                    </div>
                    <div class="form-group">
                      <label
                        class="pull-left control-label mb-10"
                        for="exampleInputpwd_2"
                        >Password</label
                      >
                      <a
                        class="capitalize-font txt-orange block mb-10 pull-right font-12"
                        href="/forgot_password"
                        >forgot password ?</a
                      >
                      <div class="clearfix"></div>
                      <input
                        type="password"
                        class="form-control"
                        name="password"
                        id="password"
                        placeholder="Enter your password"
                      />
                      <% if(typeof err !== 'undefined'){ %>
                      <div id="error_message" class="text-danger">
                        <%= err.errors.password %>
                      </div>
                      <% } %>
                    </div>

                    <div class="form-group text-center">
                      <button type="submit" class="btn btn-orange btn-rounded">
                        sign in
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Row -->
    </div>
  </div>
  <!-- /Main Content -->
</div>
