<div class="wrapper pa-0">
  <!-- Main Content -->
  <div class="page-wrapper pa-0 ma-0 auth-page">
    <div class="container">
      <!-- Row -->
      <div class="table-struct full-width full-height">
        <div class="table-cell auth-form-wrap">
          <div class="auth-form ml-auto mr-auto no-float card-view">
            <div class="row">
              <div class="col-sm-12 col-xs-12 text-center">
                <div class="mb-50 text-center">
                  <img src="/admin/assets/img/logo.png" />
                </div>
                <%- include('./partials/errors.ejs') %>
                <h4 class="text-success">Success</h4>
                <h4 class="text-danger">Failed</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Row -->
    </div>
  </div>
  <!-- /Main Content -->
</div>
