
    <div class="page-container">
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row m-t-30">
                        <div class="col-md-12">
                            <h1 style="text-align: center;">PATIENT RECORDS</h1> <br/><br />
                           
                            <div class="table-responsive m-b-40">
                                <table class="table table-borderless table-data3">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Names</th>
                                            <th>Mobile No</th>
                                            <th>Bank Details</th>
                                            <th>status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Chinedum Eke</td>
                                            <td>23277889909</td>
                                            <td>Zenith Bank</td>
                                            <td>Good</td>
                                            <td class="process">Processed</td>
                                        </tr>
    
                                        <tr>
                                            <td>2</td>
                                            <td>Judah Dev</td>
                                            <td>23277889909</td>
                                            <td>Zenith Bank</td>
                                            <td>Good</td>
                                            <td class="process">Processed</td>
                                        </tr>
    
                                    </tbody>
                                </table>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    