<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kenecare</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Kenecare" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="icon" href="/admin/assets/img/favicon.ico" type="image/x-icon" />

    <!-- Data table CSS -->
    <link
      href="/admin/assets/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="/admin/assets/vendors/bower_components/summernote/dist/summernote.css"
    />
    <link
      href="/admin/assets/dist/css/bootstrap-tagsinput.css"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="/admin/assets/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/admin/assets/vendors/bower_components/summernote/dist/summernote.css"
    />
    <link
      href="/admin/assets/dist/css/bootstrap-tagsinput.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/admin/assets/vendors/bower_components/summernote/dist/summernote.css"
    />
    <!-- Toast CSS -->
    <link
      href="/admin/assets/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Morris Charts CSS -->
    <link
      href="/admin/assets/vendors/bower_components/morris.js/morris.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Chartist CSS -->
    <link
      href="/admin/assets/vendors/bower_components/chartist/dist/chartist.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- vector map CSS -->
    <link
      href="/admin/assets/vendors/vectormap/jquery-jvectormap-2.0.2.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Custom CSS -->
    <link
      href="/admin/assets/dist/css/style.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>