

    <aside class="menu-sidebar2">
        <div class="logo">
            <a href="#">
                <img src="/styes/admin/images/icon/logo-white5.png" alt="Kenecare Dashboard" />
            </a>
        </div>
        

        <div class="menu-sidebar2__content js-scrollbar1">

            <div class="account2">
                <div class="image img-cir img-120">
                    <img src="/styes//admin/images/icon/delivery.jpeg" alt="User Picture" />
                </div>
                <h4 class="name">Chinedum Eke <br/>
                    
                    </h4>
                
                <span class="name">Admin</span>

                <a href="#">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>Sign out</a>
            </div>

            <nav class="navbar-sidebar2">
                <ul class="list-unstyled navbar__list">
                    <li class="active has-sub">
                        <a class="js-arrow" href="/dashboard">
                            <i class="fas fa-tachometer-alt"></i>Dashboard
                  
                        </a>
           
                    </li>
                    <li>
                        <a href="/view_patients">
                            
                            <i class="fa fa-user-plus" aria-hidden="true"></i>Patients</a>
                            
                      
                    </li>

                    <li>
                        <a href="/view_doctor">
                            <i class="fa fa-user-md" aria-hidden="true"></i>Doctors</a>
                        
                    </li>

                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fa fa-building" aria-hidden="true"></i>Departments
                            <span class="arrow">
                                <i class="fas fa-angle-down"></i>
                            </span>
                        </a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="/view_department">
                                    <i class="fa-solid fa-building-user"></i>Department</a>
                            </li>
                        </ul>
                    </li>

                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fa fa-file" aria-hidden="true"></i>Blogs
                            <span class="arrow">
                                <i class="fas fa-angle-down"></i>
                            </span>
                        </a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">

                            <li>
                                <a href="/view_blogs">
                                    <i class="fa fa-file" aria-hidden="true"></i>Blog</a>
                            </li>


                            <li>
                                <a href="/view_blog_categories">
                                    <i class="fas fa-table"></i>Category</a>
                            </li>



                        </ul>
                    </li>

                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fa fa-handshake-o" aria-hidden="true"></i>Appointments
                            <span class="arrow">
                                <i class="fas fa-angle-down"></i>
                            </span>
                        </a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="/view_appointment">
                                    <i class="fa fa-handshake-o" aria-hidden="true"></i>Appointment List</a>
                            </li>

                        </ul>
                    </li>

                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fa fa-building" aria-hidden="true"></i>City
                            <span class="arrow">
                                <i class="fas fa-angle-down"></i>
                            </span>
                        </a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="/view_city">
                                    <i class="fas fa-table"></i>Manage City</a>
                            </li>

                        </ul>
                    </li>

                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fa fa-commenting" aria-hidden="true"></i>Testimonials
                            <span class="arrow">
                                <i class="fas fa-angle-down"></i>
                            </span>
                        </a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="Testimonial/manage_testimonies.html">
                                    <i class="fas fa-table"></i>Manage Testimonies</a>
                            </li>

                        </ul>
                    </li>

                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fa fa-home" aria-hidden="true"></i>Home
                            <span class="arrow">
                                <i class="fas fa-angle-down"></i>
                            </span>
                        </a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="Home/manage_section.html">
                                    <i class="fas fa-table"></i>Manage Section 1</a>
                            </li>

                        </ul>
                    </li>

                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fa fa-user-circle" aria-hidden="true"></i>Specialization
                            <span class="arrow">
                                <i class="fas fa-angle-down"></i>
                            </span>
                        </a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="Specialization/manage_specialization.html">
                                    <i class="fas fa-table"></i>Manage Specialization</a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="Registration_Council/registration_council.html">
                            <i class="fa fa-building" aria-hidden="true"></i>Registration Council</a>
                       
                    </li>

                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fa fa-certificate" aria-hidden="true"></i>Degree
                            <span class="arrow">
                                <i class="fas fa-angle-down"></i>
                            </span>
                        </a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="Degree/manage_degree.html">
                                    <i class="fas fa-table"></i>Manage Degree</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="inbox.html">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>logout</a>
                        
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
